@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
	position: absolute;
	margin: 0 auto;	
	padding: 0 auto;
	font-family: 'Jost', sans-serif;
	background-color: #EEEFF1;
	max-width: 1500px;

}
header{
	margin-top: 0;
	padding: 0px 100px;
	background-color: #EEEFF1;
	height: 1025px;
}
.lother{
	line-height: 3.5;
}
.lother a{
	text-decoration: none;
	text-decoration-color: #EEEFF1;
	transition: all 1s;
}
.lother a:hover{
	text-decoration: underline;
}
li{
	float: left;
	list-style-type: none;
	margin: 41px 40px 0 0;
}
li a{
	text-decoration: none;
	color: #1B1B1D;
	font-weight: 500;

}

#l1{
	margin: 41px 320px 0px 0 ;
}
#l2{
	margin: 56px 0 0px 0px;
}
#l2 a{
	color: white;
	border-radius: 63px;
	padding: 15px 30px;
	background-color: black;
	transition: all 1s;
}
#l2 a:hover{
	color: black;
	background-color:rgb(211, 211, 211);
}
#lvector{
	margin-right: 20px;
}
#lvector img{
	padding: 18px;
	border-radius: 50%;
	background-color:white;
	box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
	transition: all 1s;
}
#lvector img:hover{
	background-color:rgb(211, 211, 211);
}

.header-section{
	padding-top: 200px;
}
.header-section h1{
	font-weight: 800;
	font-size: 120px;
	line-height:140px ;
	margin: 0px;
}
.header-section h3{
	color:#64646A;
	font-weight: 400px;
	font-size: 24px;
	line-height: 35px;
	margin-top: 30px;
	margin-bottom: 60px;
}
.header-section img{
	width: 73px;
	height: 58px;
}
#app{
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: white;
	padding: 20px 40px;
	border-radius: 126px;
	background-color: black;
	text-decoration: none;
	transition: all 1s;
}
#app:hover{
	background-color:rgb(211, 211, 211);
	color: black;
}
#shop{
	text-decoration: underline;
	text-decoration-color: #EEEFF1;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: black;
	margin-left: 30px;
	transition: all 1s;
}
#shop:hover{
	text-decoration: underline;
}

#cup{
	position: absolute;
	width: 700px;
	height: 712px;
	left: 676px;
	top: 203px;
	z-index: 1;
}
#nomination{
	position: absolute;
	width: 144px;
	height: 113px;
	left: 1198px;
	top: 234px;
	z-index: 2;
}
#rate{
	z-index: 1000;
	position: absolute;
	left: 720px;
	top: 594px;
	width: 280px;
	height: 140px;
	background-color: white;
	border-radius: 24px;
}
#rating{
	padding: 0 24px 20px 24px;
}

.rating-result {
	width: 265px;
	margin: 0;
	padding: 18px 0px 20px 18px;

}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: black;
	text-shadow: 1px 1px black;
}


#cup24{
	position: absolute;
	left: 0px;
	top: 1100px;
}
content {
	height: 5559px;
	width: 1440px;
	background-color: white;
}
.content-1{
	padding-bottom: 170px;
}
.content-1 h1{
	font-size: 64px;
	font-weight: 800;
	line-height: 70px;
	text-align: center;
	margin-top: 150px;
}
.content-1 h3{
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	line-height: 35px;
	color: #64646A;
	margin-bottom: 90px;

}

.advantages{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#card-1 h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 52px;
	margin-bottom: 0px;
}
#card-1 h6{
	margin-top: 0px;
	font-weight: 400;
	font-size: 24px;
	color: #64646A;
}
#card-1 img{
	width: 150px;
	height: 150px;
}
#card-1 a{
	font-weight: 500;
	font-size: 18px;
	border-radius: ;
	padding: 15px 30px;
	border-radius: 126px;
	background-color: black;
	color: white;
	text-decoration: none;
	transition: all 1s;
}
#card-1 a:hover{
	color: black;
	background-color:rgb(211, 211, 211);
}
#card-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	margin: 0 15px;
	width: 400px;
	height: 450px;
	padding-bottom: 40px;
}


#card-2 h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 52px;
	margin-bottom: 0px;
	text-align: left;
}
#card-2 h6{
	margin-top: 0px;
	font-weight: 400;
	font-size: 24px;
	color: #64646A;
}
#card-2 img{
	width: 150px;
	height: 150px;
}
#card-2 a{
	font-weight: 500;
	font-size: 18px;
	border-radius: ;
	padding: 15px 30px;
	border-radius: 126px;
	background-color: black;
	color: white;
	text-decoration: none;
	transition: all 1s;
}
#card-2 a:hover{
	color: black;
	background-color:rgb(211, 211, 211);
}
#card-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	margin: 0 15px;
	width: 400px;
	height: 450px;
	padding-bottom: 40px;
}




#card-3 h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 52px;
	margin-bottom: 0px;
}
#card-3 h6{
	margin-top: 0px;
	font-weight: 400;
	font-size: 24px;
	color: #64646A;
}
#card-3 img{
	width: 150px;
	height: 150px;
}
#card-3 a{
	font-weight: 500;
	font-size: 18px;
	border-radius: ;
	padding: 15px 30px;
	border-radius: 126px;
	background-color: black;
	color: white;
	text-decoration: none;
	transition: all 1s;
}
#card-3 a:hover{
	color: black;
	background-color:rgb(211, 211, 211);
}
#card-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	margin: 0 15px;
	width: 400px;
	height: 450px;
	padding-bottom: 40px;
}




.content-1-2{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	margin-top: 190px;
	padding-bottom: 170px;
}
.order h1{
	font-size: 64px;
	line-height: 70px;
	text-align: left;
}
.order h4{
	color: #64646A;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 60px;

}
.order a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 20px 40px;
	border-radius: 126px;
	font-weight: 500;
	transition: all 1s;
}
.order a:hover{
	color: black;
   background-color: rgb(211, 211, 211);
}





.content-2-1 h1{
	font-size: 64px;
	line-height: 70px;
	text-align: center;
}
.content-2-1 h4{
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: #64646A;
}
.selling-coffee{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}






.card1-coffee img{
	float: left;
	position: absolute;
	width: 186px;
	height: 305.51px;
	left: 100px;
	top: 3190.27px;
	z-index: 1001;
	margin-top: 178px;
	margin-left: 15px;
	
}
.otherthanimg{
	margin-top: 178px;
	margin-right: 100px;
	position: absolute;
	width: 393px;
	height: 471px;
	left: 100px;
	top: 3268px;
	background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	z-index: 1000;
	margin-left: 15px;
}
.otherthanimg a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 15px 30px;
	border-radius: 126px;
	margin-left: 63px;
	font-weight: 500;
	transition: all 1s;
}

.otherthanimg a:hover{
	color: black;
   background-color: rgb(211, 211, 211);
}
.otherthanimg h5{
	color:#64646A;
	font-weight: 500;
	font-size: 20px;
	padding-left: 200px;
	margin: 41px 0 0 0;

}
.otherthanimg h2{
	font-weight: 600;
	color: black;
	margin: 0;
	line-height: 44px;
	font-size: 40px;
	padding-left: 200px;
	font-weight: 600;
}
.otherthanimg div{
	margin: 87px 0 0 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #64646A;
	margin-bottom: 40px;
}
.otherthanimg span{
	font-weight: 500;
	font-size: 30px;
	line-height: 28px;
	margin-left: 30px;
}








.card2-coffee img{
	float: left;
	position: absolute;
	width: 186px;
	height: 305.51px;
	left: 100px;
	top: 3190.27px;
	z-index: 1001;
	margin-top: 178px;
	margin-left: 445px;
	
}
.otherthanimg2{
	margin-top: 178px;
	margin-right: 100px;
	position: absolute;
	width: 393px;
	height: 471px;
	left: 100px;
	top: 3268px;
	background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	z-index: 1000;
	margin-left: 445px;
}
.otherthanimg2 a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 15px 30px;
	border-radius: 126px;
	margin-left: 63px;
	font-weight: 500;
	transition: all 1s;
}

.otherthanimg2 a:hover{
	color: black;
   background-color: rgb(211, 211, 211);
}
.otherthanimg2 h5{
	color:#64646A;
	font-weight: 500;
	font-size: 20px;
	padding-left: 200px;
	margin: 41px 0 0 0;

}
.otherthanimg2 h2{
	font-weight: 600;
	color: black;
	margin: 0;
	line-height: 44px;
	font-size: 40px;
	padding-left: 200px;
	font-weight: 600;
}
.otherthanimg2 div{
	margin: 87px 0 0 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #64646A;
	margin-bottom: 40px;
}
.otherthanimg2 span{
	font-weight: 500;
	font-size: 30px;
	line-height: 28px;
	margin-left: 30px;
}













.card3-coffee img{
	float: left;
	position: absolute;
	width: 186px;
	height: 305.51px;
	left: 100px;
	top: 3190.27px;
	z-index: 1001;
	margin-top: 178px;
	margin-left: 878px;
	
}
.otherthanimg3{
	margin-top: 178px;
	margin-right: 100px;
	position: absolute;
	width: 393px;
	height: 471px;
	left: 100px;
	top: 3268px;
	background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	z-index: 1000;
	margin-left: 878px;

}
.otherthanimg3 a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 15px 30px;
	border-radius: 126px;
	margin-left: 63px;
	font-weight: 500;
	transition: all 1s;
}

.otherthanimg3 a:hover{
	color: black;
   background-color: rgb(211, 211, 211);
}
.otherthanimg3 h5{
	color:#64646A;
	font-weight: 500;
	font-size: 20px;
	padding-left: 200px;
	margin: 41px 0 0 0;

}
.otherthanimg3 h2{
	font-weight: 600;
	color: black;
	margin: 0;
	line-height: 44px;
	font-size: 40px;
	padding-left: 200px;
	font-weight: 600;
}
.otherthanimg3 div{
	margin: 87px 0 0 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #64646A;
	margin-bottom: 40px;
}
.otherthanimg3 span{
	font-weight: 500;
	font-size: 30px;
	line-height: 28px;
	margin-left: 30px;
}


#i26{
	margin-top: 72px;
	position: absolute;
	left: -0.22px;
	top: 3811px;
}
.instant{
	margin-top: 750px;
	margin-left: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.instant img{
	margin-left: 80px;
}
.smallthings h1{
	font-size: 64px;
	line-height: 70px;
	text-align: left;
	margin-bottom: 30px;
}
.smallthings p{
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #64646A;
	margin-bottom: 60px;
}
.smallthings a{
	color: white;
	background-color: black;
	font-weight: 500;
	font-size: 18px;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 126px;
	transition: all 1s;
}
.smallthings a:hover{
	color: black;
   background-color: rgb(211, 211, 211);
}


#i27{
	position: absolute;
	left: -42px;
	top: 4484px;
	margin-top:290px;
}





.flex-left{
	margin-top: 220px;
	position: absolute;
	width: 468px;
	height: 610px;
	left: -285px;
	top: 4886px;
	margin-left: 100px;
	background-color: white;
	border-radius: 16px;
}
.flex-left img{
	border-radius: 16px 16px 0 0px;
	padding-left: 185px;
	margin-bottom: 30px;
}
.flex-left span{
	font-weight: 600;
	font-size: 24px;
}
.flex-left p{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

.rating-result2 {
	width: 200px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 215px;
	top: 362px;

}
.rating-result2 span {
	padding: 0;
	font-size: 32px;
	margin: 0;
	line-height: 1;
	color: gold;
	text-shadow: 1px 1px #bbb;
}
.rating-result2 > span:before {
	content: '★';
}
.rating-result2 > span.active2 {
	color: gold;
	text-shadow: 1px 1px gold;
}



.flex-left-2{
	width: 468px;
	height: 610px;
	margin: 105px 0 0 335px;
	background-color: white;
	border-radius: 16px;
}
.flex-left-2 img{
	border-radius: 16px 16px 0 0px;
	margin-bottom: 30px;
}
.flex-left-2 div{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	margin-left: 40px;
}
.flex-left-2 p{
	font-weight: 400;
	font-size: 20px;
	margin-left: 40px;
}
.rating-result3 {
	width: 200px;
	position: absolute;
	left: 480px;
	top: 5467px;
}

.rating-result3 span {
	padding: 0;
	font-size: 32px;
	margin: 0;
	line-height: 1;
	color: gold;
	text-shadow: 1px 1px #bbb;
}
.rating-result3 > span:before {
	content: '★';
}
.rating-result3 > span.active3 {
	color: gold;
	text-shadow: 1px 1px gold;
}
.raterooklyn3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.footer-1{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
}
#flex-right{
	margin-top: 105px;
	margin-left: 120px;

}
#flex-right h1{
	font-weight: 800;
	font-size: 64px;
	line-height: 70px;
	margin: 0;
}
.rate-footer{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	margin-bottom: 99px;
}
.rate-footer p{
	font-weight: 600;
	font-size: 40px;
	margin-top: 25px;
	margin-right: 24px;
}
.rate-footer div{
	font-weight: 400;
	font-size: 20px;
}
.all-rates {
	width: 265px;
	margin: 0;
	padding: 18px 0px 0px 0px;

}
.all-rates span {
	padding: 0;
	font-size: 32px;
	margin: 0 0px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.all-rates > span:before {
	content: '★';
}
.all-rates > span.active {
	color: gold;
	text-shadow: 1px 1px gold;
}

#link-1{
	text-decoration: none;
	color: black;
	font-size: 32px;
	padding: 2px 19px 6px 15px;
	border-radius: 50%;
	background-color: white;
	line-height: 0;
	margin: 0;
	text-align: center;
	transition: all 1s;
}
#link-1:hover{
	color: white;
	background-color: black;
}
#link-2{
	margin-left: 24px;
	text-decoration: none;
	color: black;
	font-size: 32px;
	padding: 2px 15px 6px 19px;
	border-radius: 50%;
	background-color: white;
	line-height: 0;
	text-align: center;
	transition: all 1s;
}
#link-2:hover{
	color: white;
	background-color: black;
}

.last-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}
.footer-2{
	margin-top: 210px;
	padding: 0 100px;
}
.last-footer-left{
	margin-right: 375px;
}
.last-footer-left img{
	width: 170px;
	height: 68px;
}
.last-footer-left p{
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: #64646A;
}
.last-footer-left h1{
	margin-top: 108px;
	font-weight: 800;
	font-size: 40px;
}
.last-footer-left div{
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: #64646A;
	margin-bottom: 30px;
}
.last-footer-left a{
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	text-decoration: underline;
	text-decoration-color: #EEEFF1 ;
	color: black;
	transition: all 0.5s;
}
.last-footer-left a:hover{
	text-decoration: underline;
	text-decoration-color: black ;
}

.last-footer-right h1{
	font-weight: 800;
	font-size: 40px;
}
.last-footer-right span{
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	color: #64646A;
	position: absolute;
	margin-top: 8px;

}
.last-footer-right input{
	margin-right: 30px;
	padding: 15px;
	background-color: white;
	border-radius: 50%;	
	transition: all 1s;
}
.last-footer-right input:hover{
	background-color: #d0d0d0;
}


.last-footer-right #call2{
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	color: #64646A;
	position: absolute;
	margin-top: 38px;
	margin-bottom: 38px;
}
.last-footer-right #call{
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: 30px;
	padding: 15px;
	background-color: white;
	border-radius: 50%;	
	transition: all 1s;
}
.last-footer-right #call:hover{
	background-color: #d0d0d0;
}
#h190{
	margin-top: 90px;
}

#email{
	border: 0px;
	border-radius: 65px;
	color: #64646A;
	font-size: 22px;
	padding: 20px 107px 20px 30px;
}

#subs{
	color: white;
	background-color: black;
	padding: 20px 40px;
	border-radius: 126px;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	margin-top: 30px;
	transition: all 1s;
	border: 0;
}
#subs:hover{
	background-color: white;
	color: black;
}
hr{
	width:90%;
}

#copyright{
	margin: 0 75px;
	margin-top: 40px;
	color: #64646A;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
#alowishus{
	color: black;
	margin-left: 10px;
	margin-right: 799px;
}
#copyright a{
	text-decoration: underline;
	text-decoration-color:#EEEFF1 ;
	color: #64646A;
	transition: all 1s;
}
#copyright a:hover{
	text-decoration-color:black ;
}